.language-container {
  display: flex;
  /* justify-content: end; */
  background: #9a3333;
  color: #fff;
  font-weight: bold;
  text-align: start;
}

.language-item {
  width: 70px;
  padding: 4px;
  cursor: pointer;
}
