.header-container {
  display: flex;
}

.section-left {
  width: 50%;
}

.section-right {
  width: 50%;
  font-size: 50px;
  padding: 100px;
  text-align: start;
  font-weight: bold;
  color: #9a3333;
}

.section-Heading {
  width: 50%;
  font-size: 50px;
  padding: 50px;
  text-align: start;
  font-weight: bold;
  color: #9a3333;
}

.text-container {
  font-size: 20px;
  padding: 50px;
  font-style: inherit;
  line-height: 35px;
}

.product-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  margin: 0 auto;
}

.item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #9a3333;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  height: 250px;
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .item {
    flex-basis: 100%;
  }
}

.product-name {
  font-size: 20px;
  font-weight: bold;
}
