footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: #9a3333;
  height: auto;
  /* width: 100vw; */

  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  text-align: center;

  .left {
    width: 50%;
    p {
      color: #fff;
    }
  }
  .right {
    width: 50%;
  }
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #fab115;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fab115;
  border: 1.1px solid #fab115;
  padding: 5px;

  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #fab115;
  /* width: 100vw; */
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #9a3333;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #9a3333;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #9a3333;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

li {
  list-style: none;
}
.contact {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  color: #fff;

  .add {
    float: left;
  }
}

.footer-logo {
  max-width: 100%;
  height: auto;
  margin-left: 10px;
}

.contact-container {
  background-color: #9a3333;
  color: #fff;
  text-align: center;
  padding: 30px;
  .header {
    font-size: 40px;
  }
  .desc {
  }
}

/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 40px;
  /* border: 1px solid #ccc; */
}

h2 {
  text-align: center;
}

/* form {
  display: flex;
  flex-direction: column;
} */

/* label {
  margin-bottom: 5px;
} */

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin: 20px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #9a3333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

button:hover {
  background-color: #45a049;
}
